VITE_APP_NAME=MoviApoyo

# URL base de la futura API. Vacío mientras el proyecto use repositorios Mock.
VITE_API_BASE_URL=

# mock | leaflet | google | mapbox
VITE_MAP_PROVIDER=mock
VITE_MAP_API_KEY=

# mock | whatsapp-business | external
VITE_WHATSAPP_PROVIDER=mock

# true | false
VITE_NOTIFICATION_ENABLED=true
